*.md text eol=lf
*.py text eol=lf
*.json text eol=lf
*.sh text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.lock text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.python-version text eol=lf
LICENSE text eol=lf
*.sqlite3 binary
*.sqlite binary
*.db binary
